<html>  
<head>  
<title>Strona inforujaca o bledzie</title>  
</head>  
<body>  
    <h1>Błędne dane w formularzu {{msg}}</h1>
		
	{% if msg == "logowania" %}
  	<form action="/authenticate" method="get">
    	<input name="login"   type="submit"   value="Wróć"/>
	<form>
	{% elif msg == "nowej paczki" %}
	<form action="/add" method="get">
	  <input name="add"   type="submit"   value="Wróć"/>
    <form>
	{% else %}
	<form action="/register" method="get">
		<input name="register"   type="submit"   value="Wróć"/>
    <form>
	{% endif %}
</body>  
</html>