<html>  
<head>  
  <title>Strona inforujaca o bledzie</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>  
<body>

	<div id="contentArea">
		<div class="PackageInd">
			<div id="spinInd">
			<div id="topSpin">
				<div id="ipaczki" >{{number}}</div>
				<div id="id1" >Numer przesyłki obserwowanej</div>
				<div id="id2" >{{id}}</div>
			</div>
			<div id="imggs" ><img src="{{ url_for('static', filename='img/zd1.jpeg') }}" alt="decs" /></div>
			<div style="clear: left;"></div>
			<div id="st1" >Status</div>
			<div id="date1" >Data</div>
			<div style="clear: left;"></div>
			<div id="st2" >{{status}}</div>
			<div id="date2" >{{date}}</div>
			<form action="/stricteModify" method="POST">
				<input name="number" type="hidden" value="{{number}}"/>
				<input name="id" type="hidden" value="{{id}}"/>
				<input name="status" type="hidden" value="{{status}}"/>
				<input name="date" type="hidden" value="{{date}}"/>
				<input style="background-color: rgb(65, 182, 59)" type="submit" value="Włącz modyfikacje wartości"/>
			</form>
			<form action="/delete" method="POST">
				<input name="id" type="hidden" value="{{id}}"/>
				<input style="background-color: rgb(255, 100, 100)" type="submit" value="Usuń przesyłkę"/>
			</form>
			<form action="/" method="GET">
				<input type="submit" value="Wróć do strony głównej"/>
			</form>
			</div>
		</div>
	</div>
 
</body>  
</html>  