<!doctype html>
<html>
 <head><title>Strona rejestrowania nowego uzytkownika</title></head>

 <body>
  <form action="/register" method="post">
    <input name="username" type="text"     value="" />
    <input name="email" type="text"     value="" />
    <input name="password" type="password" value="" />
    <input name="register"   type="submit"   value="zarejestruj"/>
  </form>
	
	
  <form action="/authenticate" method="get">
    <input name="login"   type="submit"   value="zaloguj"/>
	<form>
 </body>
</html>